/* Define some basic styles for the page */
body {
    background: linear-gradient(to right, #000000, #333333);
    padding-top: 5%;
    width: 60%;
    margin: 0 auto;
    font-family: sans-serif;
    background-color: #000000;
    color: #ffffff;
    overflow: auto
}

/* Add some padding and a border to the search form */
#search-form {
    padding: 20px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #333333;
}

/* Style the search input and button */
#search-input {
    width: 100%;
    padding: 12px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    box-sizing: border-box;
    color: #333333;
}

button[type="submit"] {
    width: 100%;
    padding: 12px;
    background-color: #252525;
    color: #ffffff;
    border: 0;
    border-radius: 4px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #1b1b1b;
}

/* Add some styles to the results container */
#results {
    z-index: 1;
    margin: 20px 0;
    background-color: #00000000;
    color: #ffffff;
}

/* Style the result elements */
#results>div {
    padding: 20px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    background-color: #333333;
    color: #ffffff;
    display: grid;
    grid-template-columns: 1fr 3fr;
    /* 1fr for image, 3fr for text */
    grid-gap: 20px;
}

#results .cover {
    width: 30%;
    height: auto;
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
}

#results img {
    width: 100%;
    height: auto;
}


#results h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

#results p {
    margin-bottom: 10px;
}

.record {
    z-index: 1;
    position: fixed;
    top: 30%;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    background-image: url('record.png');
    background-size: cover;
    animation: spin 5s linear infinite;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

/* Add styles for left and right records */
.record.left {
    left: 150px;
}

.record.right {
    right: 150px;
}

@media (max-width: 600px) {

    /* Define some styles for small screens */
    body {
        background: #000000;
        width: 80%;
        overflow: auto
    }

    #search-form {
        width: 90%;
        margin: 0 auto;
    }

    #results>div {
        width: 90%;
        margin: 0 auto;
    }

    .record {
        display: none;
        /* Hide the records */
    }
}

img {
    float: left;
    width: 100%;
    margin-right: 10px;
}

h2 {
    margin-bottom: 10px;
}

p {
    margin-bottom: 10px;
}

.cover-image {
    float: left;
    width: 100%;
    margin-right: 10px;
}

.record-details {
    float: left;
    width: 70%;
}

.song-list {
    margin-top: -170px;
}

ul.song-list {
    list-style-type: none;
}

ul#song-list {
    list-style-type: none;
}