---
import Layout from '~/layouts/PageLayout.astro';
import Headline from '~/components/ui/Headline.astro';

const metadata = {
  title: 'WebAuthn PRF Extension Support Test',
  robots: { follow: false },
};
---

<Layout metadata={metadata}>
  <section class="p-16">
    <Headline
      title="Test WebAuthn PRF Extension Support"
      subtitle='You can use this tool to test if your device supports PRF Extension.<br><a class="underline" href="https://github.com/w3c/webauthn/wiki/Explainer:-PRF-extension">What is PRF?</a>'
    />

    <!-- Spinner -->
    <div id="loading-spinner" class="flex justify-center items-center h-[350px]">
      <div class="animate-spin rounded-full h-12 w-12 border-t-4 border-blue-500 border-solid"></div>
    </div>
  </section>

  <!-- Iframe will go here -->
  <div id="iframe-container" class="hidden"></div>

  <script type="module" is:inline>
    const spinner = document.getElementById('loading-spinner');
    const container = document.getElementById('iframe-container');

    const iframe = document.createElement('iframe');
    iframe.src = '/web-authn/browser/index.html';
    iframe.allow = 'publickey-credentials-get *';
    iframe.style.border = 'none';
    iframe.style.width = '100%';
    iframe.style.height = '1000px'; // Start with a default height, can be adjusted dynamically
    iframe.style.background = 'transparent';
    iframe.style.overflow = 'visible';

    // Hide spinner once iframe loads
    iframe.addEventListener('load', () => {
      spinner.style.display = 'none';
      container.classList.remove('hidden');

      // Adjust the iframe height dynamically based on its content
      adjustIframeHeight();
    });

    // Function to adjust iframe height dynamically
    function adjustIframeHeight() {
      const iframeDocument = iframe.contentDocument || iframe.contentWindow.document;
      
      if (iframeDocument) {
        // Wait for content to fully load
        const interval = setInterval(() => {
          const body = iframeDocument.body;
          if (body && body.scrollHeight) {
            iframe.style.height = `${body.scrollHeight}px`;
            clearInterval(interval);
          }
        }, 100);
      }
    }

    container.appendChild(iframe);
  </script>
</Layout>
