---
import Layout from '~/layouts/PageLayout.astro';
import ContactUs from '~/components/widgets/Contact.astro';
import fs from 'node:fs';

const metadata = {
  title: 'Contact',
};
const key = fs.readFileSync('./public/pgp.txt', 'utf8');
---

<Layout metadata={metadata}>
  <ContactUs
    tagline="Contact"
    title='Drop me a <span class="text-accent dark:text-white highlight">message</span> today!'
    subtitle='Click the icons below to contact me via your preferred method.<br>The address below works for both E-Mail and Microsoft Teams.<br> '
    email='RENE@KARKKAINEN.NET'
    key={key}
    keyHeight="200px"
  />
</Layout>
