---
import Layout from '~/layouts/PageLayout.astro';
import ContactUs from '~/components/widgets/Contact.astro';
import ItemGrid from '~/components/ui/ItemGrid.astro';


const metadata = {
  title: 'Contact',
};
---

<Layout metadata={metadata}>
  <ContactUs
    tagline="Contact"
    title="Drop me a message today!"
    subtitle='Contact me using <a class="underline" href="mailto:Rene@Karkkainen.net">E-Mail by clicking here</a> or <a class="underline" href="https://teams.microsoft.com/l/chat/0/0?users=Rene@Karkkainen.net">Microsoft Teams by clicking here</a>.<br>The address below works for both E-Mail and Microsoft Teams.<br>'
    email='Rene@Karkkainen.net'
    fingerprint='E15B 9DFD B28F 4D68 11A5 5ABC FDC9 7B8A 3972 3B0F'
    key='-----BEGIN PGP PUBLIC KEY BLOCK----- mQINBGUDSJwBEADE/0ym0N1HLIVcvVZCRygu4EiSqATOigOn/PsRvWBxonpJZ6aV Rs7Cxh41r6fCmKUU1En4ZAcR3XzqsGbn1x8H38L95pn8nfI2yQX77zdSe+3Id9ym BJphEJukzngByMKZUU5UYoXA98RcQgHPDN+3Qjfk1QLbB1cFxZvZAn85q8um0Hy1 ndrFQ8qgqWl55LeivmrCHwIWbwtUCW5ieih3jNQn/Izg1l8TmydqTBJAZlG9XXF0 PQNOXDTHI/OCGWg2KU8Iv3jLpLmHbcYFsQ6UCULXynu2fVWv1hE2uRLYtXEJtb1B MQTW0n+res3sz0f5xgX/fUAK5/JCZYUxKIxpJS67s5PWgPKumqaIuut9C9mU33n8 SXqmjtfsImBNSsOyCUXt2z9P3WG/9QmhfqZUe1tpXuID77bU3lR8V1MrX/D79ytp GYX6UIVD51Rv3NDOTR+fDY1Lgtg+uE11AZdoKcpBl6LxEB1akv2l9BR8bRJQbCwV J5weu4iDdpIhxmSmzsclFrV25vvFdumpqcNyHeFEGA65BO4hMxKR5Q1u2UL33111 1//0GNqHlzmQ+8/8AaFctVICZHKsnLvi9MhXNJngxGyRUDgcul8FpeqUo+CBIW2B Bsc5UYVs2WvuuUJD14wU7nN+t5eqjv2gD2Q9EeoNr+k38zK/GqsEA6FQ+wARAQAB tClyZW5lQGthcmtrYWluZW4ubmV0IDxyZW5lQGthcmtrYWluZW4ubmV0PokCSgQQ AQgAPgWCZQNInAQLCQcICZD9yXuKOXI7DwMVCAoEFgACAQIZAQKbAwIeARYhBOFb nf2yj01oEaVavP3Je4o5cjsPAAAP0xAApT+JysthKumiWaB3258jQgi4n4oiHdFD CCFlW35IQPeN4nsGJ3aSX9L5TM3+OaAlkVNw3ckcUeGF3EsDtgZG5jYh+jeIgT3w WyhH1ExeNGCpY3drHa+ZC21tgubPF0oH+LyfewaYhg2OIlSH4Z/GK5zqKpI0wLIT BsWvLzsa/bpJdySDY/DD73KU3r54vCZBVrJRZdWO6GdLx1dvIyWlZh0axREyAf6c uL5/hbyE4w0x8CijZTQ4qBgiY12w6229aqf9fhm0bMtCPBZmqMpHbzythP0nyyYT fUY3aX9v707MNHs0s+gTG9lwlfU0DoVA8kzbqZLi2ZMqA5dXlyt1c3H+Jesc9Eef 0KNNP+4+5S9IxXhJL7I01NeW7kLNudDm+ew2gmhJtcMVbmLDZi2Wuj8dnS3LxPta sYczGvzHNr8bP5Sq+aN/u2kzcmUJhRf3Uw3lQHokhv2dy9xLPCG6Mw5HQZ0jmz2N xBXDh7BjRWyTFwQq4M3KWsBaZJHYUptHBc8SS5la6gUt/oU2XrIJnYyl6Te0gmZa kjLdoqFvJrE2RSzQgDxQUw6/H/9V9mUVaX2bUFVKKciq+EEV7rkPrbpf2KhQf5Gg 3v9fVZPhs4BvACd82V+j43upiQ2V85sUOfETZQV33b3dYi/qA76bLOjgPnF1AeS5 5N92GsDObR+5Ag0EZQNInAEQAIZyGLscy38RK4Ee4xf87L3sE3lQDK5nJE54rRjW bMbU80EEre2ngRaU8REUobJ0Xfug0e28AmXlMVzkdj3BcVOY5QwVIyOKm9sZxhRz UATdC1k0WcVpXph8EICK6E7eZW9M99x4BTgOsO7VXoImFpzMypd+LP7JlraLHSDu 3Mv51Pb1WqEMMa48xfTTutPGF38/f5O4UYaOL3Vqb5O/iYNITZB26jLREbGpidUj PgyWfgZ4e7KE9HX1Qf9vkzR8s3nBGoK4i8D55rUEhYXdDXhHqzdLyhXnjpelHA5c Y8wNdh62UloLXe3P4W9KE9FEk2VK89w2lO7Mlb/tNI0Vxhtf1Z+k361Z+6qqEK6Y mnSFwccoy4+5kVtafsZ/eo+gCHu6gW7fyR6gyaRW6HJh5llX9lBb46UdrnoGKJxi DagkM6zA3jaWcgFgN84+DDI25dkXhDgv8wd8ykNPZszKaaG/BAp102GpOE++JwRe 0AZ189pTCCetS4EE2dg1r8zORGw3R3jDeeAougiveATSHybrDNP6VBgElPAYI/zv smH091Fp3ulM0XCwqqgzCL9XiIrP9FPXn9WLZrUKmPlwkHsU9WOc1nnnJRtPnor2 6iKjndpkzwKv8YNflWIa0MPY2DjDk6OVhEth4arhtPncimowytmZ3PsvYVEv1tzm 6LbdABEBAAGJAjYEGAEIACoFgmUDSJwJkP3Je4o5cjsPApsMFiEE4Vud/bKPTWgR pVq8/cl7ijlyOw8AAMyFEAC2AW4ilEVQWI64ovCA0FkFlQhGpPh01p62UNXz1a36 Dk823r+TzlGmLzsTzkiK+4xWAayYt9lYdk+Buo9KigGS3d7nLeZXy23SPuQO5VFk VTa9wsU3pSo2lV8d4/s0gSADw2NoSg6DovtAbu8HyQIhks5yr3CDP9E9qg25FvCr wSpQAMXOw0+trcn+FRZl3+gPb+XvSe6JzJADgqkMHYn02fPtFiOB0FTN9ycVZjtk BtL3ikjfnNk2YhVd4jj28S9cyx44XkW2rFfjIjcO1yB0aRwGSwq2GdlDwkE5zux6 cgbTjigtLTrmZD/xrXP+DK/abfkIxSxtwQgzcEpqjMhlRAvDy84/qiRjrEruLPYp sJdZ4O0oj+b2n4M/qAtY8TO1jXmzQe73HJ32eR8qVv9dDNz6ne2VOtYec9skXjLh MsZhjdieK2S0NMFLjYwxUEmHl62JEPh4B0EzjFtw7RVkVlBSHz3TZlubYM1uhkWl 2KrYax+rKgaMRqKFQ0LV8OZDlpR3YLFCTPcAf45eW7Am1dSpsULM8HQeFzrPsF9k PRlOuJsvmhTRXYaa4QE0es5WUWXpzcMoB6ib0rzhAyR40ahC91CFMDOTnw14dRiD nrMJGNYx5N+vGiytYjc8RqGdD3Qm0tJpDXTUL82dHI70OctKdDbh4tSj4wjNbzGL RA== =YWr/ -----END PGP PUBLIC KEY BLOCK-----'
  />  
</Layout>