---
import Layout from '~/layouts/PageLayout.astro';
import Hero from '~/components/widgets/Hero.astro';
import Content from '~/components/widgets/Content.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Features3 from '~/components/widgets/Features3.astro';
// import Testimonials from '~/components/widgets/Testimonials.astro';
import Steps from '~/components/widgets/Steps.astro';
// import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';

const metadata = {
  title: 'Homepage',
};
---

<Layout metadata={metadata}>
  <Hero
    id="hero"
    title="Rene Kärkkäinen"
    tagline="Personal Website"
    actions={[{ variant: 'primary', text: 'Hire me', href: '/contact' }]}
  >
    <Fragment slot="subtitle">
      Finnish technology student at Business College Helsinki, with a background at WithSecure, a leading Nordic
      cybersecurity company. Skilled in networking, server environments, cybersecurity, web development, and data
      analysis. Actively seeking opportunities in IT from all over the world to contribute in enhancing system security.
    </Fragment>
  </Hero>

  <!-- Content Widget **************** -->

  <Content
    id="about"
    columns={3}
    items={[
      {
        icon: 'tabler:at',
        callToAction: {
          text: 'E-Mail',
          href: 'contact',
        },
      },
      {
        icon: 'tabler:brand-teams',
        callToAction: {
          text: 'Teams',
          href: 'https://teams.microsoft.com/l/chat/0/0?users=Rene@Karkkainen.net',
        },
      },
      {
        icon: 'tabler:brand-linkedin',
        callToAction: {
          target: '_blank',
          text: 'LinkedIn',
          href: 'r/linkedin.html',
        },
      },
      {
        icon: 'tabler:brand-x',
        callToAction: {
          target: '_blank',
          text: 'X.COM',
          href: 'r/x.html',
        },
      },
      {
        icon: 'tabler:brand-github',
        callToAction: {
          target: '_blank',
          text: 'GitHub',
          href: 'r/github.html',
        },
      },
    ]}
    image={{
      src: '~/assets/images/Portrait-Hongkong.jpg',
      alt: 'Me posing at Hong Kong High West Viewing Point',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">About me</h3>
      <p>
        Welcome to my digital abode! I'm Rene Kärkkäinen, a tech enthusiast and student navigating the landscape of
        information technology with a security first mindset. This platform serves as a hub for insights, experiences,
        and explorations in the world of technology.
      </p>
      <br>
      <p>Contact me via your preferred method:</p>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Steps Widget ****************** -->

  <Steps
    id="resume"
    title="Work experience"
    items={[
      {
        title:
          'Information Technology Trainee | Internship<br> <span class="font-normal">WithSecure Oyj, Helsinki, Finland</span> <br/><span class="text-sm font-normal">Oct - Dec 2023</span>',
        description: ``,
        icon: 'tabler:briefcase',
      },
      {
        title:
          'Nursing Home Assistant | Summer Job<br> <span class="font-normal">City of Helsinki, Helsinki, Finland</span> <br /> <span class="text-sm font-normal">Jun - Jul 2022</span>',
        description: `Going for walks with the elderly, playing games together, reading magazines or books, assisting with office work or simply chatting and being present.`,
        icon: 'tabler:briefcase',
      },
      {
        title:
          'Store Assistant | Internship<br> <span class="font-normal">K-Market Rekola, Vantaa, Finland</span> <br /> <span class="text-sm font-normal">Dec 2021</span>',
        description: `Selling, unloading and checking shipments, customer service, and keeping the store clean.`,
        icon: 'tabler:briefcase',
      },
    ]}
    classes={{ container: 'max-w-3xl' }}
  />

  <!-- Steps Widget ****************** -->

  <Steps
    id="resume"
    title="Education"
    items={[
      {
        title: `Vocational qualification in ICT <br /> <span class="font-normal">Business College Helsinki</span> <br /> <span class="text-sm font-normal">2022 - present </span>`,
        icon: 'tabler:school',
      },
      {
        title: `High School <br /> <span class="font-normal">Töölön Yhteiskoulun aikuislukio</span> <br /> <span class="text-sm font-normal">2022 - present </span>`,
        icon: 'tabler:school',
      },
    ]}
    classes={{ container: 'max-w-3xl' }}
  />

  <!-- Features3 Widget ************** -->

  <Features3
    title="Technical Skills"
    subtitle="Diving into the Tech Wonderland, I transform ideas into IT magic!"
    columns={3}
    defaultIcon="tabler:point-filled"
    items={[
      {
        title: 'Network Administration',
        description: 'Proven skills in configuring and maintaining secure and efficient network infrastructures.',
      },
      {
        title: 'Cybersecurity',
        description: 'Experienced in implementing robust security measures to protect against cyber threats.',
      },
      {
        title: 'Server Environments',
        description: 'Proficient in managing server environments, including setup, maintenance, and optimization.',
      },
      {
        title: 'Linux Systems',
        description: 'In-depth knowledge of Linux systems, including installation, configuration, and troubleshooting.',
      },
      {
        title: 'Virtualization Technologies',
        description: 'Skilled in using virtualization platforms like VMware ESXi for efficient resource utilization.',
      },
      {
        title: 'IT Infrastructure',
        description: 'Experienced in designing and maintaining reliable and scalable IT infrastructures.',
      },
      {
        title: 'Scripting and Automation',
        description: 'Adept at scripting languages to automate repetitive tasks and enhance workflow efficiency.',
      },
      {
        title: 'Team Collaboration',
        description: 'Proven ability to collaborate seamlessly with cross-functional teams for project success.',
      },
      {
        title: 'Troubleshooting',
        description:
          'Effective problem-solving skills with a keen attention to detail for identifying and resolving issues.',
      },
    ]}
  />

  <!-- Content Widget **************** -->

  <Content
    id="porfolio"
    title="Experiencing with Technology"
    subtitle=""
    isReversed
    items={[
      {
        title: 'What I Learned:',
        description:
          'Throughout the journey of constructing my Home Lab, I gained valuable insights into networking, virtualization, server management, and hardware configurations. The art of running servers, understanding how networks work, and the importance of adaptability in the tech landscape were among the many discoveries.',
      },
    ]}
    image={{
      src: '~/assets/images/server1.png',
      alt: 'Image of my rack server',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Home Lab: <br /><span class="text-2xl">Where Ideas Take Flight</span>
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isReversed
    isAfterContent={true}
    items={[
      {
        title: 'What I Learned:',
        description:
          'This project was a journey into the heart of Unreal Engine, networking challenges, and the magic of multiplayer dynamics.',
      },
    ]}
    image={{
      src: '~/assets/images/videogame.jpg',
      alt: 'Image of the videogame',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Videogame: <br /><span class="text-2xl">FPS Multiplayer made with Unreal Engine 4</span>
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isReversed
    isAfterContent={true}
    items={[
      {
        title: 'What I Learned:',
        description:
          'In programming, comfort is key. I navigate through languages like Python, JavaScript, C#, HTML and beyond with ease, using them as tools to bring ideas to life. From exploring frameworks and libraries to tackling real-world problems.',
      },
    ]}
    image={{
      src: '~/assets/images/spaghetti-code.jpg',
      alt: 'A very delicious image of spaghetti.',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Coding: <br /><span class="text-2xl">A Glimpse into My Coding Journey</span>
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Testimonials Widget ***********

  <Testimonials
    title="Recomendations"
    subtitle=""
    testimonials={[
      {
        testimonial: `Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magnam sequi at sunt non delectus, facere consequatur provident saepe distinctio aliquam minus voluptatum eligendi dolorem fugiat natus nobis quasi, soluta eius?`,
        name: 'Name',
        job: 'Title',
        image: {
          src: 'https://images.unsplash.com/photo-1500648767791-00dcc994a43e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80',
          alt: 'Mark Thompson Image',
        },
      },
      {
        testimonial: `Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magnam sequi at sunt non delectus, facere consequatur provident saepe distinctio aliquam minus voluptatum eligendi dolorem fugiat natus nobis quasi, soluta eius?`,
        name: 'Name',
        job: 'Title',
        image: {
          src: 'https://images.unsplash.com/photo-1500648767791-00dcc994a43e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80',
          alt: 'Mark Thompson Image',
        },
      },
    ]}
  /> -->

  <!-- CallToAction Widget *********** -->

  <CallToAction
    title="Let's work together"
    subtitle="Seeking opportunities in IT from all over the world!"
    actions={[
      {
        variant: 'primary',
        text: 'Hire me',
        href: '/contact',
      },
    ]}
  />

  <!-- BlogLatestPost Widget **************** 

  <BlogLatestPosts
    id="blog"
    title="Explore my insightful articles on my blog"
    information={`My personal corner of the internet where the digital and personal intertwine. Journey with me through the intricacies of IT, where every post is a chapter in the book of my projects, adventures, and the lessons learned along the way. `}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </BlogLatestPosts>
</Layout>-->
</Layout>
